<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShinFung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShinFung.Properties.Settings>
            <setting name="S_A_Money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="S_B_Money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="S_C_Money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="S_D_Money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="S_E_Money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="D_A_Money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="D_B_Money" serializeAs="String">
                <value>100</value>
            </setting>
        </ShinFung.Properties.Settings>
    </userSettings>
</configuration>